import(BiocGenerics)
import(IRanges)
import(GenomicRanges)
importFrom(parallel, mclapply, mcmapply)
importFrom(Biostrings, DNAStringSet, detail)
importFrom(Rsamtools, BamFile, ScanBamParam, bamWhich)
importFrom(GenomicFeatures, cdsBy, exonsBy, transcriptLocs2refLocs)
importFrom(gmapR, bam_tally, BamTallyParam)
importFrom(VariantAnnotation, VCFHeader, VCF)
importFrom(graph, graphNEL)
importFrom(RBGL, connectedComp)

export(callVariants, qaVariants, tallyVariants)
export(calculateConcordanceMatrix, printConcordanceReport,
       idVerify, calculateConcordanceReport)
export(VariantQAFilters, VariantCallingFilters, VariantTallyParam)
export(variantGR2Vcf)

export(callSampleSpecificVariants, SampleSpecificVariantFilters)

export(callWildtype, minCallableCoverage)

## some utilities
export(matchVariants, mergeVariantInfo)

## API for next release
## export(checkVariantConcordance,
##        callableFraction, annotateTrans,
##        plotTNVariantsAlongGenome, TwoSampleFET, plotTiTv)


## API that will likely be (re)moved
## export(VEP2gr) # moving to VariantAnnotation or some other package
## export(detectQualityType) # not exporting for now
## export(trans2genome) # FIXME: push up to GenomicRanges, based on map?
