import(BiocGenerics)
import(IRanges)
import(GenomicRanges)
importFrom(parallel, mclapply, mcmapply)
importFrom(Biostrings, DNAStringSet, detail)
importFrom(Rsamtools, BamFile, ScanBamParam, bamWhich)
importFrom(GenomicFeatures, cdsBy, exonsBy, transcriptLocs2refLocs)
importFrom(gmapR, bam_tally, BamTallyParam, GmapGenome, variantSummary)
importFrom(VariantAnnotation, VCFHeader, VCF, readVcf, alt, ref, geno,
           softFilter)
importClassesFrom(Matrix, dgTMatrix)
importFrom(rtracklayer, import)
importClassesFrom(rtracklayer, BigWigFile)
importFrom(tools, file_ext)
importFrom(BiocParallel, bpvec, registered, bplapply)

export(callVariants, qaVariants, tallyVariants, postFilterVariants)
export(calculateConcordanceMatrix,
       callVariantConcordance, calculateVariantConcordance)
export(VariantQAFilters, VariantCallingFilters, VariantTallyParam,
       VariantPostFilters, TallyVariantsParam)
export(variantGR2Vcf)

export(callSampleSpecificVariants, SampleSpecificVariantFilters)

export(callWildtype, minCallableCoverage, flankingCycleBreaks)

## some utilities
export(matchVariants, "%variant_in%", extractCoverageForPositions)

## API for next release
## export(checkVariantConcordance,
##        callableFraction, annotateTrans,
##        plotTNVariantsAlongGenome, TwoSampleFET, plotTiTv)


## API that will likely be (re)moved
## export(VEP2gr) # moving to VariantAnnotation or some other package
## export(detectQualityType) # not exporting for now
## export(trans2genome) # FIXME: push up to GenomicRanges, based on map?
